apiVersion: kubeadm.k8s.io/v1beta3
kind: InitConfiguration
skipPhases:
  - addon/kube-proxy
---
apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
kubernetesVersion: stable
controlPlaneEndpoint: "${loadbalancer_ip}:6443"
clusterName: "proxmox-k8s-etcd-cluster-ha"
controllerManager:
  extraArgs:
    cluster-cidr: 10.0.0.0/16
etcd:
  external:
    endpoints:
    %{ for etcd_ip, etcd_hostname in node_etcds ~}
    - https://${etcd_ip}:2379
    %{endfor}
    caFile: /etc/kubernetes/pki/etcd/ca.pem
    certFile: /etc/kubernetes/pki/etcd/etcd.pem
    keyFile: /etc/kubernetes/pki/etcd/etcd-key.pem
networking:
  podSubnet: 10.244.0.0/24
apiServer:
  certSANs:
    - "${loadbalancer_ip}"